:root {
    --primary-color: #FFFFFF;
    --secondary-color: #A9A9A9;
    --tertiary-color: #ECECEC;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

body {
    display: grid;
    background-color: var(--primary-color);
    margin-top: 30px;
    gap: 50px;
}

.header {
    display: flex;
    gap: 20px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    gap: 50px;
    padding: 0 clamp(50px, 5vw, 100px);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
}

.book-item {
    display: flex; 
    flex-direction: column; 
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    aspect-ratio: 1 / 1; 
    justify-content: center;   
    align-items: center;      
    text-align: center;
}

.book-item:hover {
    transform: scale(1.02);
}

.status-btn {
    border: none;
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.remove-book-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--secondary-color);
    visibility: hidden;
}

.book-item:hover .remove-book-btn {
    opacity: 1;                   
    visibility: visible;          
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#open-dialog-btn {
    position: relative;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 500px;
    aspect-ratio: 10 / 1;
    cursor: pointer;
}

#open-dialog-btn:hover {
    transform: scale(1.02); 
}

#add-book-dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    width: clamp(300px, 80vw, 500px);
    max-height: 80vh;
    z-index: 1000;
}

#dialog-title {
    text-align: center;
    font-size: 30px;
}

#book-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 0px 20px;
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-checkbox {
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="number"] {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--tertiary-color);
}

input[type="checkbox"] {
    margin-right: 10px; 
    transform: scale(1.2); 
    cursor: pointer; 
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-book-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    aspect-ratio: 8 / 1;
    width: 75%;
    border-radius: 20px;
    cursor: pointer;
}

#add-book-btn:hover {
    transform: scale(1.02);
}

#close-dialog-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    cursor: pointer;
}
