:root {
    --primary-color: #FFFFFF;
    --secondary-color: #9DF9EF;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}                                                                                                            

body {
    display: grid;
    background-color: var(--primary-color);
    margin-top: 20px;
    gap: 50px;
}

.header {
    display: flex;
    gap: 20px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    gap: 50px;
    margin: 0 100px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
}

.book-item {
    display: flex; 
    flex-direction: column; 
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    aspect-ratio: 1 / 1; 
    justify-content: center;   
    align-items: center;      
    text-align: center;
}

.book-item:hover {
    transform: scale(1.02);
}

.remove-book-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--secondary-color);
    visibility: hidden;
}

.book-item:hover .remove-book-btn {
    opacity: 1;                   
    visibility: visible;          
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
